th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
tr.firstRow {
  background-color: #048f8f;
}
tr.secondRow {
  background-color: #f5f504;
}
tr.firstRow:hover {
  background-color: #f5f504;
}
tr.secondRow:hover {
  background-color: #048f8f;
}
.cross {
  position: absolute; /* Щоб перемістити хрест поверх */
  width: 200px;
  height: 200px;
  z-index: 2; /* Вищий індекс для того, щоб хрест був на колах */
}

.line {
  position: absolute;
  background-color: black;
}

.horizontal {
  width: 240px;
  height: 4px;
  top: 59%;
  left: 0;
}

.vertical {
  height: 240px;
  width: 4px;
  left: 59%;
  top: 0;
}

/* Стилізація кола з діркою в центрі */
.circle-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.outer-circle {
  width: 200px;
  height: 200px;
  border: 20px solid black;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Нижчий індекс для того, щоб кола були під хрестом */
}

.inner-circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}
